.section1{
  height: 100px;
}
.section2{
 height: 800px;
 min-height: fit-content;


}
#title{
 color: #FFD700;
 opacity: 0.7;
}

.cards{
  height: 75px;
  width: 95%;
  background-color: aliceblue;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  position: relative;
}
.workouts{
  color:black;
  font-weight: 500;
  margin-left: 10px;
}
h2{
  color: blueviolet;
  position: absolute;
  left: 10px;
  bottom: -18px;
}